<div class="foodbox">
	<div class="food-info">
	<% if food.company == "NA" %> 
		<div class="food-name"><%= food.name %></div>
	<% else %>
		<div class="food-name"><%= food.name %></div>
		<div class="food-subtitle"><%= "(made by " + food.company + ")" %></div>
	<% end %>
	</div>

	<div class="food_img">
		<%= image_tag(food.number.to_s + ".jpg", :class => "maxHeight200") %>
	</div>
</div>