// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maxHeight200 {
	height: 200px;
}

body{
	background-image: url("wood-background.png");
	background-repeat:repeat;
}

#start {
	background: white;
	width: 650px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 6px 6px 3px #888888;
	border-radius: 15px;
}

#header {
	font-size: 36px;
	font-weight: bold;
	margin-top: 50px;
	margin-left: 84px;
	padding-top: 50px;
	color: #333333;
	font-family: Impact, Charcoal, sans-serif;
}

#subtitle {
	font-style: italic;
	padding-left: 50px;
	padding-right: 35px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#name-field {
	padding-left: 50px;
}


#age-field {
	position: relative;
	float: right;
	bottom: 64px;
	padding-right: 129px;
}

#gender-field-female {
	position: relative;
	left: 30px;
}

#gender-field-male {
	float: right;
	position: relative;
	bottom: 44px;
	right: 5px;
}

#gender-fields {
	width: 115px;
	padding-left: 511px;
	position: relative;
	bottom: 127px;
}

#start-button {
	position: relative;
	bottom: 101px;
	right: 149px;
	float:right;
	width: 250px;
}

.foodbox {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-radius: 10px;
	box-shadow: 6px 6px 3px #888888;
	border-radius: 15px;
	width: 500px;
	height: 340px;
}

.food_img {
	padding-top: 10px;
	margin-left: 100px
}

.food-name {
	font-size: 24px;
	font-weight: bold;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

.food-info {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

.entry-box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	top: -70px;
}

.btn-pos {
	position: relative;
	bottom: 4px;
}

.instructions {
	font-style: italic;
	width: 118px;
	margin-left: auto;
	margin-right: auto;
}