// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.maxHeight200 {
	height: 200px;
}

body{
	background-image: url("wood-background.png");
	background-repeat:repeat;
}

#start {
	background: white;
	width: 650px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 6px 6px 3px #888888;
	border-radius: 15px;
}

#header {
	font-size: 36px;
	font-weight: bold;
	margin-top: 50px;
	margin-left: 84px;
	padding-top: 50px;
	color: #333333;
	font-family: Impact, Charcoal, sans-serif;
}

#subtitle {
	font-style: italic;
	padding-left: 50px;
	padding-right: 35px;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#name-field {
	padding-left: 50px;
}


#age-field {
	position: relative;
	float: right;
	bottom: 64px;
	padding-right: 129px;
}

#gender-field-female {
	position: relative;
	left: 30px;
}

#gender-field-male {
	float: right;
	position: relative;
	bottom: 44px;
	right: 5px;
}

#gender-fields {
	width: 115px;
	padding-left: 511px;
	position: relative;
	bottom: 127px;
}

#start-button {
	position: relative;
	bottom: 101px;
	right: 149px;
	float:right;
	width: 250px;
}

.foodbox {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-radius: 10px;
	box-shadow: 6px 6px 3px #888888;
	border-radius: 15px;
	width: 500px;
	height: 340px;
}

.food_img {
	padding-top: 10px;
	margin-left: 100px
}

.food-name {
	font-size: 24px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.food-info {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	text-align: center;
}

.entry-box {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	top: -70px;
}

.btn-pos {
	position: relative;
	bottom: 4px;
}

.instructions {
	font-style: italic;
	width: 118px;
	margin-left: auto;
	margin-right: auto;
}

.counter {
	font-size: 10px;
	float: right;
	position: relative;
	left: 89px;
	bottom: 8px;
}

#end {
	margin-top: 50px;
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	box-shadow: 6px 6px 3px #888888;
	border-radius: 15px;
}

.end-title {
	font-size: 36px;
	font-weight: bold;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 25px;
}

.smaller {
	margin-top: 25px;
	font-size: 24px;
}

.results-foodbox {
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 50px;
	width: 640px;
	height: 100px;
}

.maxHeight75 {
	height: 75px;
}

.number-col {
	font-size: 32px;
	padding-left: 10px;
	float: left;
	width: 50px;
	position: relative;
	top: 30px;
}

.food-name-col {
	line-height: 80%;
	font-size: 20px;
	padding-left: 10px;
	float: left;
	width: 138px;
	position: relative;
	top: 23px;
}

.image-col {
	padding-left: 10px;
	float: left;
	width: 100px;
}

.guess-col {
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	float: left;
	position: relative;
	top: 22px;

}

.results-col {
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	border: solid 1px lightGrey;
	border-radius: 5px;
	position: relative;
	top: -17px;
	margin-left:15px;
	width: 195px;

}

.difference-box {
	padding-top: 4px;
}

.main {
	font-weight: bold;
}

.sub {
	font-style: italic;
	font-size: 13px;
}

.info {
	font-size: 13px;
	margin-left: 20px;
	margin-right:20px;
	margin-top: 20px;
}

.info-subtitle {
	text-align: center;
}

#final-result {
	width: 700px;
	height: 125px;
	border: 1px solid #E0E0E0;
	background-color: #E8E8E8;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 23px;
}

.sub-result {
	width: 150px;
	float: left;
	padding-left: 22px;
}

.result-main {
	padding-top: 3px;
	height: 20px;
	font-weight: bold;
	font-size: 16px;
	text-align:center;
}

.result-sub {
	height: 50px;
	font-style: italic;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}

.result-val {
	padding-top: 15px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}


#category-result {
	margin-top: 20px;
	width: 700px;
	border: 1px solid #E0E0E0;
	background-color: #E8E8E8;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
}

.category-entry {
	height: 26px;
	font-size: 18px;
}

.cat-name {
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 10px;
	float:left;
}

.cat-total-diff {
	font-style: italic;
	font-size: 14px;
	float: left;
	padding-left: 10px;
}

.cat-avg-diff {
	font-style: italic;
	font-size: 14px;
	float: left;
	padding-left: 10px;
}

.cat-avg-error {
	font-style: italic;
	font-size: 14px;
	float: left;
	padding-left: 10px;
}

.retry-button {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 350px;
	margin-left: 200px;
	color: white;
}

#more-information {
	margin-top: 20px;
	width: 700px;
	border: 1px solid #E0E0E0;
	background-color: #E8E8E8;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
}

